.edit-user {
	color: #fff;
	margin-bottom: 2rem;

	.edit-button,
	input {
		padding: 10px;
	}

	.edit-button {
		border-color: #00bc77;
		background-color: #00bc77;
		color: inherit;
		font-weight: bold;
		padding: 10px;
	}
}