// This file contains global styles for the whole project 

@import url("./font-awesome-4.7.0/css/font-awesome.min.css");

html {
	font-family: Avenir, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
	color: #2c3e50;
}

body, #root {
	margin: 0;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

// <MAIN> Tag // 
.main {
	flex: 1;
}

.bg-dark {
	background-color: #12002b;
}

// END <MAIN> Tag// 

// SECTION STYLES // 
.features {
	display: flex;
	flex-direction: column;
}

.sign-in { 
	display: flex;
	flex: 1;
	align-content: space-around;
}

@media (min-width: 920px) {
	.features {
		flex-direction: row;
	}
}


// END SECTION STYLES // 